<link rel="stylesheet" href="/css/index.css">

<footer>
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" id="footer-map">
          <h3>About Us</h3>
          <p>The Bishee Barnabee Hotel, established in 1864, is one of Norwich's most iconic venues.
            Situated on the University of East Anglia campus and overlooking the picturesque UEA broad, we have
            32 world class rooms, a restaurant and bar serving local fare and state-of-the-art gym facilities.
          </p>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="footer-about">
          <h3>Find us here</h3>
          <p>Easy to find - located in the heart of Norwich.</p>
          <div id="map-container">
            <iframe id="footer-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29180.812573255487!2d1.2173864746377863!3d52.620713106926004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e0d87b805801%3A0xb9b97bf00744e573!2sUniversity%20of%20East%20Anglia!5e0!3m2!1sen!2suk!4v1605205627574!5m2!1sen!2suk"
              frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
          </div>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="footer-links">
          <h3>Menu</h3>
          <p>Explore our website and learn more about what we offer.</p>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/room">Book Room</a></li>
            <li><a href="/index#restaurant">Facilities</a></li>
            <li><a href="/index#attraction">Local Attractions</a></li>
            <li><a href="/index#contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="footer-socials">
          <h3>Follow us on social media</h3>
          <p>Check our facebook, twitter and instagram pages for latest updated, news and offers</p>
          <div class="social-buttons">
            <a class="btn-floating btn-lg btn-fb" type="button" role="button" href="https://facebook.com"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn-floating btn-lg btn-tw" type="button" role="button" href="https://twitter.com"><i
                class="fab fa-twitter"></i></a>
            <a class="btn-floating btn-lg btn-li" type="button" role="button" href="https://linkedin.com"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://instagram.com"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">&copy Copyright 2020</div>
</footer>